.myGeoAreas-wrap {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.myGeoAreas-wrap > h1 {
  font-size: 40px;
  margin: 30px 0px
}

.myGeoAreas {
  width: 794px;
  @include flex(flex, column, flex-start, center);
}

.geoArea {
  background-color: #E0E0E0;
  width: 794px;
  @include flex(flex, column, flex-start, center);
  margin-bottom: 30px;
}

.geoArea_header {
  width: 705px;
  height: 50px;
  @include flex(flex, row, space-between, center);
  margin: 20px 6px;
}

.geoArea_header.geoArea_header_delete {
  margin-bottom: 90px;
  height: 150px;
}

.geoArea_header_delete > .geoArea_header_options_delete {
  @include flex(flex, column, space-between, center);
  height: 130px;
  width: 250px;
}

.geoArea_header_options > p {
  font-size: 18px;
  font-weight: bold;
}

#confirmDelete, #cancelDelete {
  color: black;
  border: none;
  width: auto;
  font-size: 16px;
  height: 30px;
  background-color: #fff;
  text-transform: uppercase;
  box-shadow: 0px 4px 4px 0px #00000040;
}

#cancelDelete:hover {
  background-color: $blue;
}
#confirmDelete:hover {
  background-color: red;
}

.geoArea_header_options {
  width: 200px;
  @include flex(flex, column, center, flex-end);
  text-align: center;
}

.geoArea_header_options > img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}



.addZoneBtn {
  margin-bottom: 40px;
}
